*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  width: 96vw;
}

h1 {
  text-align: center;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
}

.square:focus {
  outline: none;
  background-color: #ddd;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
